body
{
  color: white;
  background-image: url('Pokeball.png');
 background-size: 100%;
}
span
{
  font-size: 30px;
}
#camera , #result
{

  width: 350px;
  height: 300px; 
}

.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
  background-color: red;
  color: red;
}

label{
  font-size: 14px;
  color:white;
  padding: 6px;
  border-radius: 10px;
  
}
.ol{
  background-color: white;
  border-width: 0;
}

.ok{
  color: red;
}